[Link na zadatke](http://www.fer.unizg.hr/_download/repository/vjezba_2%5B4%5D.pdf)

In [1]:
import numpy as np
import pandas as pd
import math
from common import *

norm = np.linalg.norm
pd.set_option('display.max_colwidth', -1)

### [Wrapper za brojanje fn. calls](https://stackoverflow.com/questions/1301735/counting-python-method-calls-within-another-method)

In [2]:
def counted(fn):
    def wrapper(*args, **kwargs):
        wrapper.called += 1
        return fn(*args, **kwargs)
    wrapper.called = 0
    wrapper.__name__= fn.__name__
    return wrapper

def counts(fn):
    def wrapper(f, *args, **kwargs):
        f.called = 0
        try:
            return fn(f, *args, **kwargs)
        finally:
            wrapper.calls_to_function = f.called
    wrapper.__name__= fn.__name__
    return wrapper

## Funkcije cilja

In [3]:
pt = lambda *x: np.array(x, dtype=float)
dim = lambda pt: len(pt)

@counted
def f1(x):
    x1, x2 = x
    return 100 * (x2 - x1 ** 2) ** 2 + (1 - x1) ** 2
f1_x0 = pt(-1.9, 2)
f1_xmin = pt(1, 1)
f1_min = 0

@counted
def f2(x):
    x1, x2 = x
    return (x1 - 4) ** 2 + 4 * (x2 - 2) ** 2
f2_x0 = pt(0.1, 0.3)
f2_xmin = pt(4, 2)
f2_min = 0

@counted
def f3(x):
    return np.sum(np.square(np.arange(1, x.shape[0] + 1) - x))
f3_x0 = pt(0, 0, 0, 0, 0)
f3_min = 0

@counted
def f4(x):
    x1, x2 = x
    return abs((x1 - x2) * (x1 + x2)) + math.sqrt(x1 ** 2 + x2 ** 2)
f4_x0 = pt(5.1, 1.1)
f4_min = 0

@counted
def f6(x):
    x = np.sum(np.square(x))
    return 0.5 + (math.sin(math.sqrt(x)) ** 2 - 0.5) / (1 + 0.001 * x) ** 2
f6_xmin = 0
f6_min = 0

### [Golden section](http://www.fer.unizg.hr/_download/repository/zlatni_rez.txt)

In [4]:
@counts
def golden_section(f, a, b, e=1e-6, k=0.5*(math.sqrt(5) + 1)):
    hi = b - (b - a) / k
    lo = a + (b - a) / k
    
    f_hi = f(hi)
    f_lo = f(lo)
    
    while abs(b - a) > e:
        if f_hi < f_lo:
            b = lo
            lo = hi
            hi = b - (b - a) / k
            f_lo = f_hi
            f_hi = f(hi)
        else:
            a = hi
            hi = lo
            lo = a + (b - a) / k
            f_hi = f_lo
            f_lo = f(lo)
    
    return (a + b) / 2

In [5]:
@counted 
def test_gs_fn(x): 
    return (x - 4.99)**2

print(golden_section(test_gs_fn, 0, 5))
print(golden_section.calls_to_function)

4.989999842904119
35

### [Unimodal](http://www.fer.unizg.hr/_download/repository/unimodalni.txt)

In [6]:
@counts
def unimodal(f, pt, h=1):
    l, r = pt - h, pt + h
    m = pt
    step = 1
    
    fm = f(pt)
    fl = f(l)
    fr = f(r)
    
    if fm < fr and fm < fl:
        return l, r
    elif fm > fr:
        while True:
            l, m, fm = m, r, fr
            r += h * step
            fr = f(r)
            step *= 2
            if fm <= fr:
                return l, r
    else:
        while True:
            r, m, fm = m, l, fl
            l -= h * step
            fl = f(l)
            step *= 2
            if fm <= fl:
                return l, r

### Coordinate descent
TODO uncopy

In [7]:
@counts
def coordinate_descent(f, x0, eps=1e-6):
    x = np.array(x0)
    x_prev = x + 2 * eps
    while norm(x_prev - x) > eps:
        x_prev = np.copy(x)
        for i in range(len(x)):
            def fi(xt):
                xp = np.copy(x)
                xp[i] = xt
                return f(xp)
            l, r = unimodal(fi, 0.1, x[i])
            x[i] = golden_section(fi, l, r, eps)
    return x

### [Simplex](http://www.fer.unizg.hr/_download/repository/simplex.html)

In [8]:
class InvalidAlgorithmSetupException(Exception):
    def __init__(self, message):
        super(InvalidAlgorithmSetupException, self).__init__(message)
    
    def raiseIf(condition, message = "Invalid algorithm setup"):
        if condition:
            raise InvalidAlgorithmSetupException(message)

In [9]:
@counts
def nelder_mead(
    f, x0, step=1, alpha=1, beta=0.5, gamma=2, sigma=0.5, epsilon=1e-6, maxIter=1000):
    InvalidAlgorithmSetupException.raiseIf(alpha <= 0)
    InvalidAlgorithmSetupException.raiseIf(gamma <= 1)
    InvalidAlgorithmSetupException.raiseIf(sigma <= 0 or sigma > 0.5)
    
    x = simplex_pts(x0, step)
    l, h = 0, -1
    
    reflect = lambda xc, xh: xc + alpha * (xc - xh)
    expand = lambda xc, xr: xc + gamma * (xr - xc)
    contract = lambda xc, xh: xc - beta * (xc - xh)
    shrink = lambda xl, xi: xl + sigma * (xi - xl)
    
    i = 0
    while True:
        i += 1
        
        x = sorted(x, key=f)
        xc = np.mean(x[:h], axis=0)
        
        if norm(x[h] - xc) <= epsilon or i >= maxIter:
            break
        
        xr = reflect(xc, x[h])
        
        fxr = f(xr)
        fxl = f(x[l])
        
        if fxr < fxl:
            xe = expand(xc, x[h])
            x[h] = xe if f(xe) < fxl else xr
        else:
            if all(fxr > f(xj) for xj in x[:h]):
                if fxr < f(x[h]):
                    x[h] = xr
                    
                xk = contract(xc, x[h])
                if f(xk) < f(x[h]):
                    x[h] = xk
                else:
                    shrink_xi = lambda xi: shrink(x[l], xi)
                    x = lmap(shrink_xi, x)
            else:
                x[h] = xr
            
    return x[0]

def simplex_pts(x0, step):
    ret = [x0]
    for i in range(len(x0)):
        xp = np.copy(x0)
        xp[i] += step
        ret.append(xp)
    return np.array(ret)

### [Hooke-Jeeves](http://www.fer.unizg.hr/_download/repository/hj.html)

* x0 - pocetna tocka
* xB - bazna tocka 
* xP - pocetna tocka pretrazivanja
* xN - tocka dobivena pretrazivanjem

In [10]:
@counts
def hooke_jeeves(f, x0, epsilon=1e-6, dx=0.5):
    dx = dx * np.ones_like(x0)
    epsilon = epsilon * np.ones_like(x0)

    xp = np.copy(x0)
    xb = np.copy(x0)

    while all(dx > epsilon):
        xn = explore(f, xp, dx)
        if f(xn) < f(xb):
            xp = 2 * xn - xb
            xb = np.copy(xn)
        else:
            dx /= 2.0
            xp = np.copy(xb)
        
    return xp

def explore(f, xp, dx):
    x = np.array(xp, dtype=float)
    P = f(x)
    for i in range(len(xp)):
        x[i] = float(x[i]) + dx[i]
        if f(x) > P:
            x[i] = x[i] - 2 * dx[i]
            if f(x) > P:
                x[i] = x[i] + dx[i]
    return x

In [11]:
hooke_jeeves(f4, pt(5, 14))

array([ 9.5,  9.5])

In [12]:
hooke_jeeves.calls_to_function

157

# Zadaci
## 1.
Definirajte jednodimenzijsku funkciju br. 3, koja će imati minimum u točki 3. Kao početnu točku
pretraživanja postavite točku 10. Primijenite sva tri postupka na rješavanje ove funkcije te ispišite
pronađeni minimum i broj evaluacija funkcije za svaki pojedini postupak. Probajte sve više
udaljavati početnu točku od minimuma i probajte ponovo pokrenuti navedene postupke. Što možete
zaključiti?

In [13]:
data = []

for x0 in [ pt(10), pt(20), pt(30) ]:
    for f in [ hooke_jeeves, nelder_mead, coordinate_descent ]:
        result = f(f3, x0)
        data.append([f.__name__, x0, f.calls_to_function, result])

pd.DataFrame(data, columns=['Algoritam', 'x0', 'Broj poziva', 'Rezultat'])

            Algoritam      x0  Broj poziva          Rezultat
0  hooke_jeeves        [10.0]  132          [1.0]
1  nelder_mead         [10.0]  207          [1.0]
2  coordinate_descent  [10.0]  77           [1.00000003808]
3  hooke_jeeves        [20.0]  147          [1.0]
4  nelder_mead         [20.0]  257          [1.0]
5  coordinate_descent  [20.0]  79           [0.999999998747]
6  hooke_jeeves        [30.0]  158          [1.0]
7  nelder_mead         [30.0]  307          [1.0]
8  coordinate_descent  [30.0]  80           [0.999999803366]

## 2.
Primijenite simpleks po Nelderu i Meadu, Hooke-Jeeves postupak te pretraživanje po koordinatnim
osima na funkcije 1-4 uz zadane parametre i početne točke (broj varijabli funkcije 3 najmanje 5). Za
svaki postupak i svaku funkciju odredite minimum koji su postupci pronašli i potrebni broj
evaluacija funkcije cilja koji je potreban do konvergencije (prikažite tablično). Što možete zaključiti
iz rezultata?

In [14]:
fs = [f1, f2, f3, f4]
x0s = [f1_x0, f2_x0, f3_x0, f4_x0]

data = []
for search_f in [hooke_jeeves, nelder_mead]:
    for f, x0 in zip(fs, x0s):
        result = search_f(f, x0)
        data.append(
            [search_f.__name__, x0, search_f.calls_to_function, result])

pd.DataFrame(data, columns=['Algoritam', 'x0', 'Broj poziva', 'Rezultat'])

,Algoritam,x0,Broj poziva,Rezultat
0,hooke_jeeves,"[-1.9, 2.0]",2952,"[1.00000152588, 1.0000038147]"
1,hooke_jeeves,"[0.1, 0.3]",260,"[3.99999961853, 2.00000076294]"
2,hooke_jeeves,"[0.0, 0.0, 0.0, 0.0, 0.0]",342,"[1.0, 2.0, 3.0, 4.0, 5.0]"
3,hooke_jeeves,"[5.1, 1.1]",150,"[3.1, 3.1]"
4,nelder_mead,"[-1.9, 2.0]",3562,"[0.999999763998, 0.999999487937]"
5,nelder_mead,"[0.1, 0.3]",493,"[3.99999995768, 1.99999972735]"
6,nelder_mead,"[0.0, 0.0, 0.0, 0.0, 0.0]",2774,"[0.999999846924, 1.99999971796, 3.00000003086, 4.00000002405, 4.99999947917]"
7,nelder_mead,"[5.1, 1.1]",712,"[-8.3331812619e-07, 1.51895016504e-07]"

## 3.
Primijenite postupak Hooke-Jeeves i simpleks po Nelderu i Meadu na funkciju 4 uz početnu točku
(5, 5). Objasnite rezultate!

In [15]:
hooke_jeeves(f4, pt(5, 5))

array([ 5.,  5.])

In [16]:
nelder_mead(f4, pt(5, 5))

array([ -8.84859430e-08,  -3.86806220e-07])

## 4.
Primijenite simpleks po Nelderu i Meadu na funkciju 1. Kao početnu točku postavite točku (0.5,0.5).
Provedite postupak s nekoliko različitih koraka za generiranje početnog simpleksa (primjerice iz
intervala od 1 do 20) i zabilježite potreban broj evaluacija funkcije cilja i pronađene točke
minimuma. Potom probajte kao početnu točku postaviti točku (20,20) i ponovo provesti eksperiment.
Što možete zaključiti?

Zakljucujem da se algoritam puno bolje ponasa kada za pocetnu tocku uzmemo neku koja je blizu stvarnog minimuma, i to neovisno o koraku koji odaberemo.

In [21]:
data = []
for x0 in [ pt(0.5, 0.5), pt(20, 20) ]:
    for step in range(1, 21):
        result = nelder_mead(f1, x0, step=step)
        data.append([x0, step, nelder_mead.calls_to_function, result, f1(result)])
pd.DataFrame(data, columns=['x0', 'Korak', 'Broj poziva', 'Rezultat', 'Cost'])

,x0,Korak,Broj poziva,Rezultat,Cost
0,"[0.5, 0.5]",1,418,"[1.00000663406, 1.00001278068]",6.777450e-11
1,"[0.5, 0.5]",2,4677,"[0.99999989005, 0.999999747216]",1.202295e-13
2,"[0.5, 0.5]",3,2878,"[1.00000161348, 1.00000318316]",2.795237e-12
3,"[0.5, 0.5]",4,1672,"[0.999999272771, 0.999998478111]",9.835678e-13
4,"[0.5, 0.5]",5,1237,"[1.00000047531, 1.00000095745]",2.305811e-13
5,"[0.5, 0.5]",6,6418,"[0.736152049736, 0.542237324233]",6.962582e-02
6,"[0.5, 0.5]",7,861,"[0.999999873029, 0.999999707377]",1.657410e-13
7,"[0.5, 0.5]",8,1312,"[1.00000088168, 1.00000171537]",1.007768e-12
8,"[0.5, 0.5]",9,1011,"[0.99999903608, 0.99999809265]",9.711259e-13
9,"[0.5, 0.5]",10,707,"[0.999999067494, 0.999998073962]",1.241989e-12
10,"[0.5, 0.5]",11,1065,"[0.999999741726, 0.999999470276]",8.406550e-14
11,"[0.5, 0.5]",12,1185,"[0.999999634094, 0.999999275846]",1.397516e-13
12,"[0.5, 0.5]",13,5034,"[0.999999191482, 0.999998363056]",6.933382e-13
13,"[0.5, 0.5]",14,1229,"[0.999999784741, 0.999999587631]",7.927370e-14
14,"[0.5, 0.5]",15,653,"[0.99999991453, 0.999999679698]",2.238192e-12
15,"[0.5, 0.5]",16,902,"[0.999999821897, 0.999999670574]",1.034409e-13
16,"[0.5, 0.5]",17,804,"[0.999999868086, 0.999999709848]",8.670233e-14
17,"[0.5, 0.5]",18,895,"[0.999997230316, 0.999994093456]",2.115361e-11
18,"[0.5, 0.5]",19,979,"[1.0000001966, 1.0000004034]",4.904954e-14
19,"[0.5, 0.5]",20,1091,"[1.00000041918, 1.00000092445]",9.167183e-13
20,"[20.0, 20.0]",1,6308,"[3.25020396709, 10.5589063764]",5.065838e+00
21,"[20.0, 20.0]",2,6406,"[3.20289797056, 10.2521598688]",4.856850e+00
22,"[20.0, 20.0]",3,6347,"[2.90122561529, 8.40922056697]",3.620883e+00
23,"[20.0, 20.0]",4,6410,"[2.9806067571, 8.87844665721]",3.925906e+00
24,"[20.0, 20.0]",5,6387,"[3.03691263209, 9.21852237421]",4.150876e+00
25,"[20.0, 20.0]",6,6450,"[3.2586038899, 10.6157360715]",5.102055e+00
26,"[20.0, 20.0]",7,6470,"[2.84346611798, 8.08074756712]",3.400439e+00
27,"[20.0, 20.0]",8,6416,"[2.97988889366, 8.87834651396]",3.920154e+00
28,"[20.0, 20.0]",9,6299,"[-3.53760621022, 12.4970255786]",2.062096e+01
29,"[20.0, 20.0]",10,6318,"[-2.67664315179, 7.15730746277]",1.352276e+01
30,"[20.0, 20.0]",11,6446,"[2.75950856786, 7.61731120013]",3.096458e+00
31,"[20.0, 20.0]",12,6443,"[3.5018087934, 12.259274509]",6.260197e+00
32,"[20.0, 20.0]",13,6396,"[3.90628876095, 15.2488706926]",8.456962e+00
33,"[20.0, 20.0]",14,6474,"[2.84170810878, 8.07512608916]",3.391892e+00
34,"[20.0, 20.0]",15,6484,"[2.58416643599, 6.68030786677]",2.510155e+00
35,"[20.0, 20.0]",16,6412,"[3.76715068461, 14.1830320432]",7.664166e+00
36,"[20.0, 20.0]",17,6450,"[4.61591674796, 21.2992149626]",1.308044e+01
37,"[20.0, 20.0]",18,6278,"[-3.24100147514, 10.4910047704]",1.800322e+01
38,"[20.0, 20.0]",19,6392,"[-2.02842473881, 4.10662817367]",9.177564e+00
39,"[20.0, 20.0]",20,6465,"[-1.25648565823, 1.57333274721]",5.094669e+00

## 5.
Primijenite jedan postupak optimizacije na funkciju 6 u dvije dimenzije, tako da postupak pokrećete
više puta iz slučajno odabrane početne točke u intervalu [-50,50]. Možete li odrediti vjerojatnost
pronalaženja globalnog optimuma na ovaj način? (smatramo da je algoritam locirao globalni
minimum ako je nađena vrijednost funkcije cilja manja od 10^-4)

In [17]:
ncalls = 20

data = []
for i in range(ncalls):
    random = np.random.randint(-50, 50 + 1, size=2)
    result = hooke_jeeves(f6, pt(*random))
    data.append([hooke_jeeves.__name__, 
                 random,
                 hooke_jeeves.calls_to_function, 
                 result])

pd.DataFrame(data, columns=['Algoritam', 'x0', 'Broj poziva', 'Rezultat'])

       Algoritam          x0  Broj poziva                          Rezultat
0   hooke_jeeves  [46, -40]   234          [45.9384765625, -38.0922851562]
1   hooke_jeeves  [-49, -35]  215          [-49.1093673706, -33.9062805176]
2   hooke_jeeves  [11, -11]   226          [12.5232543945, -9.46112251282]
3   hooke_jeeves  [-9, -4]    202          [-9.0, -2.76830291748]
4   hooke_jeeves  [13, 27]    211          [14.2115306854, 28.0]
5   hooke_jeeves  [47, 11]    275          [44.5772705078, 15.236448288]
6   hooke_jeeves  [-37, -11]  186          [-36.5, -9.37014389038]
7   hooke_jeeves  [42, -44]   190          [41.8941020966, -42.5]
8   hooke_jeeves  [-48, -25]  203          [-47.5, -24.3841190338]
9   hooke_jeeves  [31, -48]   201          [30.6590709686, -47.5]
10  hooke_jeeves  [-28, -18]  192          [-31.9921875, -13.0243663788]
11  hooke_jeeves  [49, 31]    221          [50.9994659424, 30.9906482697]
12  hooke_jeeves  [29, -28]   232          [33.5173187256, -23.3088531494]
13  hooke_jeeves  [-41, -43]  182          [-41.3807430267, -43.0]
14  hooke_jeeves  [-38, -41]  183          [-38.3924293518, -41.5]
15  hooke_jeeves  [-2, -43]   267          [1.61882400513, -43.9375]
16  hooke_jeeves  [30, 8]     214          [30.0, 9.27187156677]
17  hooke_jeeves  [-33, 31]   222          [-28.4758586884, 33.5]
18  hooke_jeeves  [-29, 46]   200          [-28.3420658112, 45.25]
19  hooke_jeeves  [-26, 1]    209          [-25.0, 2.42508125305]

# Matlab
* `fminbnd` (1 var)
* `fminsearch` (vise var; simplex po N&M)
* `fminunc` (vise var; razliciti alg.)
* `fmincon` (vise var, uz ogranicenja)